* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ant-font-family);
  background-color: var(--ant-color-bg-base);
  color: var(--ant-color-text-base);
  overflow-x: hidden;
}

.snap-container {
  height: 100dvh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.snap-section {
  scroll-snap-align: start;
  min-height: 100dvh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: var(--ant-font-family);
}